.jumbotron {
  color: white;
  background-color: pink;
  text-align: center;
  margin-top: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}
body {
  background-image: url("https://previews.123rf.com/images/tonobalaguer/tonobalaguer1109/tonobalaguer110901035/10743525-ruffled-fabric-pleated-fashion-texture-background-in-white-Stock-Photo.jpg");
}
.container {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 100px;
}
.dress {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5px;
}
.bm {
  width: 500px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
}
.long {
  width: 220px;
  height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
  padding-left: 10px;

}
.row {
  padding: 10px;
  margin: 20px;
}
.invite {
  width: 400px;
  height: 300px;
  float: right;
}
.plate {
  padding-top: 30px;
  width: 730px;
}
.welcome {
  width: 320px;
  height: 300px;
  padding-top: 20px;
  padding-right: 40px;
  float: left;
}
